.errdo-backtrace-box {
  white-space: nowrap;
  overflow-y: scroll;
  background-color: #f8f8f8;
  padding: 10px;
  max-height: 500px;
}

.errdo-cookies-box {
  @extend .errdo-backtrace-box;
}

td {
  vertical-align: middle !important;
}

.errdo-nav-brand {
  color: white;
}

.errdo-nav-link {
  color: lightgray;
}
